body{
    background-color: black;
    color: green;    
    margin: 0;
    height: 100vh;
}

h2{
    color: darkgreen;
}

.container {
    height: 100%;
}
  
.box {
    padding: 0 50px 0 10px;
    border: none;
}

.box input, .box h2{
    display: inline-block;
}

input{
    border: none;
    width: 80vw;
    background-color: transparent;
    border: 1px solid black;
    caret-color: darkgreen;
    opacity: 0.7;
    font-size: 12pt;
    color: green;
}