body {
    background-color: #111;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    border: 2px solid #00ff00;
    padding: 10px;
    border-radius: 5px;
    width: 90vw;
    height: 90vh;
    background-color: #000;
}

form {
    display: flex;
    align-items: center;
}

p {
    margin: 0;
}

#msg {
    background-color: transparent;
    border: none;
    color: #00ff00;
    font-size: 16px;
    margin-left: 5px;
    padding: 5px;
    width: 150px;
    outline: none;
}

button {
    display: none;
}